html { 
        background: url('https://vignette.wikia.nocookie.net/toontown/images/6/6c/Orangettbg.jpg/revision/latest?cb=20120114133642') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        .arial { font-family: ImpressBT; } 
    }
